@mixin search-bar-titles($isBold: false) {
  -webkit-font-smoothing: antialiased;

  @if $isBold {
    color: #222222;
    font-size: 12px;
    font-synthesis: none;
    font-weight: 500;
    line-break: strict;
    line-height: 16px;
    padding: 0px 0px 2px;
  } @else {
    color: #6a6a6a;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
  }
}
.search-bar-title-1 {
  @include search-bar-titles(true);
}
.search-bar-title-0 {
  @include search-bar-titles(false);
}

.component-search-bar-container {
  display: flex;
  margin: auto;
  width: 95%;
  height: 70px;
  border-radius: 35px;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
}

.search-bar-part1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 40px;
}
.search-bar-part2 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}

.search-bar-title-line {
  padding: 0.5px;
  display: flex;
  flex-direction: row;
  background-color: gray;
  vertical-align: middle;
  height: 60%;
}
