.container {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #ffffff;
  font-size: 2rem;
}

.container-centered-hor {
  @extend .container;
  justify-content: center;
}
.container-centered-both {
  @extend .container;
  align-items: center;
  justify-content: center;
}

.component-construction-container {
  display: grid;
  grid-template-columns: minmax(850px, auto);
  grid-auto-rows: minmax(200px, auto);
}

.component-construction-title {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}
.component-construction-area {
  grid-column: 1;
  grid-row: 2/5;
  overflow: hidden;
}

.component-logo-airbnb {
  display: flex;
  justify-content: center;
  align-items: center;
}
