@import "fonts";

:root {
  --default-margin: 0;
  --default-padding: 0;
  --default-font-weight: 300;
}

body {
  margin: var(--default-margin);
  padding: var(--default-padding);
  box-sizing: border-box;
  @include montserrat(var(--default-font-weight));
}
